section.overview {
	display: flex;
	flex-direction: column;
	justiy-content: space-between;
	align-items: flex-start;
	position: relative;
	max-width: 777px;
	margin: $spacing-md auto;

	> img {
		display: block;
		width: 100%;
		min-height: 222px;
		background-color: $color-bg-gray-md;
		border: 1px solid $color-br-gray-dk;
		border-top-right-radius: 13px;
		border-bottom-left-radius: 13px;

		@media (min-width: $screen-md-min) {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 48%;
		}
	}

	> div {
		padding: $spacing-sm;

		@media (max-width: $screen-sm-max) {
			max-width: 444px;
		}

		@media (min-width: $screen-md-min) {
			padding: $spacing-md $spacing-sm;
			padding-right: 54%;
		}

		> h4 {
			@include font("heading-xs");
		}

		> h2 {
			@include font("heading-md");
			margin-top: $spacing-xs;
		}

		> p {
			@include font("body-md");
			margin-top: $spacing-xs;

			&:first-child {
				margin-top: $spacing-sm;
			}
		}

		> a {
			@include button;
			margin-top: $spacing-sm;

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				position: absolute;
				right: $spacing-md;
				bottom: $spacing-sm;
			}
		}
	}
}
